pkgbase = s-ecosystem
	pkgdesc = Shell utilities: sfetch (system fetch), scat (file cat), sls (simple ls)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/hubbydenny/S-ecosystem
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	source = s-ecosystem-1.0.0.tar.gz
	sha256sums = SKIP

pkgname = s-ecosystem
